@media only screen and (max-width:1024px) {
/* navbar */

.nav-container {
    width: 100%;
    background-color: white;
    /* border: 1px solid ; */
}

.nav {
    /* border: 1px solid black; */
    margin: 0 auto;
    max-width: 90%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.nav-logo {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(24 167 199);
}


.nav-pages {
    /* border: 1px solid; */
}

.nav-pages ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;

}

.nav-pages ul li:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;

}

.nav-pages ul li {
    font-size: 1.1rem;
    color: grey;
    font-weight: 500;

}

.nav-signup {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-signup p {
    color: gray;
    font-size: 1.1rem;
}

.nav-signup button {

    padding: .6rem 1rem;
    background-color: rgb(24 167 199);
    border: none;
    /* outline: none; */
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}

.nav-menu {
    /* width: 1rem; */
    /* height: 1rem;/ */
    font-size: 1.5rem;
    display: none;
}


 /* hero */
 .hero-img {
    position: relative; /* Parent ko relative rakhna zaroori hai */
    width: 100%;
    height: 40vh;
    border-radius: 50px;
    overflow: hidden; /* Extra content hide karne ke liye */
}

 .hero-img img {
    overflow: hidden;
    border-radius: 50px;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}   


.hero-img-text {
    position: absolute; /* Absolute for positioning */
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering trick */
    text-align: center;
    color: white;
    z-index: 999; /* Text image ke upar rahe */
    width: 100%;
    padding: 10px;
}

#hero-img-text1 {
    font-size: clamp(1.2rem, 3vw, 3rem); /* Responsive font-size */
    font-weight: 700;
    margin-bottom: 10px;
    z-index: 999;
}

#hero-img-text2 {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    font-weight: 500;
}


.hero-banner{
/* border: 1px solid ; */
/* padding: auto; */
/* padding: 1rem 0 0 0; */
margin-top:1rem;
/* margin: 48px 12px; */

}
.hero-banner-container {    
position: absolute;
top: 28%;
left: 2%;
/* margin: 0 auto; */
width: 95%;
height: 20vh;
background-color: white;
box-shadow: 2px 2px 1px #f0f0f0;
border-radius: 20px;
/* border: 1px solid red; */
/* box-shadow: 0 0 4px #f0f0f0; */
}

.hero-banner-d2-desti-place {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: .7rem;
    color: black;
    font-weight: 500;
    display: flex;
    gap: 4px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    /* font-family: sans-serif; */
}


.hero-banner-d2-desti-places-search-btn {
    
}

}