@media only screen and (max-width:1259px) {
    .hero-banner-d2-desti {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-wrap: wrap;
        gap: .2rem;
    }


    .hero-banner-d2 {
        /* border: 1px solid; */
        margin-top: 1rem;
        color: gray;
        display: flex;
        gap: .3rem;
        align-items: center;
        justify-content: space-between;
    }

    #checkout {
        margin-left: 0;
    }




}

@media only screen and(max-width:1140px) {


    .hero-banner-d2-desti-place {
        background: #f0f0f0;
        padding: .4rem .2rem;
        border-radius: 5px;
        margin-top: .7rem;
        color: black;
        display: flex;
        /* gap:.2rem; */
        display: flex;
        align-items: center;
        font-size: .5rem;
        flex-wrap: nowrap;
        /* font-family: sans-serif; */
    }

    .hero-banner-d2-desti-places-search-btn {
        /* flex: 1; */
        /* border: 1px solid red; */
        padding: .6rem 2.2rem;
        /* width: 8vw; */
        /* height: 2rem; */
        margin-top: 27px;
        color: white;
        background-color: rgb(24 167 199);
        border: none;
        border-radius: 10px;
        /* display: grid    ; */
        /* grid-template-columns: ; */
        justify-content: center;
        align-items: center;
        gap: 4px;
        /* margin-left: 10px; */
    }

    #checkout {
        /* margin-left: 0; */
    }



}



@media only screen and (max-width:1106px) {
    .hero-banner-d2 {
        /* border: 1px solid; */
        margin-top: 1rem;
        color: gray;
        display: flex;
        gap: .3rem;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }


    .hero-banner-d2-desti-places-search-btn {
        margin-top: 5px;
        /* grid-row-start:4; */
        /* grid-row-end: 4; */
        grid-column-start: 1;
        grid-column-end: 3;


        width: 90%;
    }

}


@media only screen and (max-width:1024px) {
    #hero-img-text1 {
        font-family: sans-serif;
        color: white;
        z-index: 999;
        line-height: 4rem;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
    
}



@media only screen and (max-width:860px) {

    .hero-banner-d2-desti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 7rem;
        grid-row-gap: 2rem;
        flex-wrap: wrap;
        /* gap: .2rem; */
    }




    #hero-img-text1 {
        font-family: sans-serif;
        color: white;
        z-index: 999;
        line-height: 4rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
    .hero-banner-d1-paras {
        display: flex;
        gap: 1rem;
    }

    .hero-banner-d1-paras p {
        font-size: 1rem;
        color: gray;
        font-weight: 500;
        /* border: 1px solid yellowgreen; */
    }

    .hero-banner-d1-last-searching {
        font-size: 1rem;
        color: grey;
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    .hero-banner-d2-desti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 7rem;
        grid-row-gap: 1rem;
        flex-wrap: wrap;
        /* gap: .2rem; */
    }


    .hero-banner-d1-paras p {
        font-size: 1.1rem;
        color: gray;
        font-weight: 500;
        /* border: 1px solid yellowgreen; */
    }



    .hero-banner-d2-desti-place {
        background: #f0f0f0;
        padding: .5rem 1rem;
        border-radius: 5px;
        margin-top: .7rem;
        color: black;
        display: flex;
        gap: 4px;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        flex-wrap: nowrap;
        /* font-family: sans-serif; */
    }



    .hero-banner-d2-desti-places {
        /* border: 1px solid salmon; */
        /* flex: 1; */
        /* font-weight: 600; */
        /* display: flex; */


    }

    .hero-banner-container {
        position: absolute;
        bottom: -30%;
        left: 10%;
        right: 10%;
        /* margin: 0 auto; */
        padding: 2rem;
        /* width: 90%; */
        /* height: 30vh; */
        background-color: white;
        box-shadow: 2px 2px 1px #f0f0f0;
        border-radius: 20px;
        text-wrap: nowrap;
    }


    .hero {
        /* border-radius: 50px; */
        max-width: 90%;
        height: 50vh;
        margin: 0 auto;
        /* border: 1px solid red; */
        position: relative;
    }

    .hero-banner-d2-desti-places-search-btn {
        margin-top: 5px;
        /* grid-row-start: 4; */
        /* grid-row-end: 4; */
        grid-column-start: 1;
        grid-column-end: 3;
        width: 85%;
    }



}
@media only screen and (max-width:840px) {
    .hero-banner-d1-paras {
        display: flex;
        gap: 1rem;
    }


    .hero-banner-d2-desti-places-search-btn {
        margin-top: 5px;
        /* grid-row-start:4; */
        /* grid-row-end: 4; */
        grid-column-start: 1;
        grid-column-end: 3;

        width: 100%;
    }


}


@media only screen and (max-width:673px) {
    .hero-banner-d1-paras p {
        font-size: 1rem;
        color: gray;
        font-weight: 500;
        /* border: 1px solid yellowgreen; */
    }

    .hero-banner-d1-last-searching {
        font-size: .8rem;
        color: grey;
        display: flex;
        gap: .3rem;
        align-items: center;
    }



}

@media only screen and (max-width:768px) {
    .hero-banner-container {
        position: absolute;
        bottom: -20%;
        left: 10%;
        right: 10%;
        /* margin: 0 auto; */
        padding: 2rem;
        /* width: 90%; */
        /* height: 30vh; */
        background-color: white;
        box-shadow: 2px 2px 1px #f0f0f0;
        border-radius: 20px;
        text-wrap: nowrap;
    
    
    }



    .hero-banner-d2-desti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 4rem;
        grid-row-gap: 2rem;
        flex-wrap: wrap;
        /* gap: .2rem; */
    }

    .hero-banner-d2-desti-places-search-btn {
        margin-top: 5px;
        /* grid-row-start: 4; */
        /* grid-row-end: 4; */
        grid-column-start: 1;
        grid-column-end: 3;
        width: 95%;
    }

    

    .hero-banner-d1-paras p {
        font-size: .9rem;
        color: gray;
        font-weight: 500;
        /* border: 1px solid yellowgreen; */
    }
    .hero-banner-d1-last-searching {
        font-size: .9rem;
        color: grey;
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    .hero-banner-d2-desti-places1{
      font-size:.8rem;
    }

    .hero-banner-d2-desti-place {
        background: #f0f0f0;
        padding: .5rem 1rem;
        border-radius: 5px;
        margin-top: .7rem;
        color: black;
        display: flex
;
        gap: 4px;
        display: flex
;
        align-items: center;
        font-size: 1rem;
        flex-wrap: nowrap;
        /* font-family: sans-serif; */
    }

    #hero-img-text1 {
        font-family: sans-serif;
        color: white;
        z-index: 999;
        line-height: 4rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }

    .hero-banner-d2-desti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        flex-wrap: wrap;
        /* gap: .2rem; */
    }
    .hero-banner-d2-desti-places-search-btn {
        margin-top: 5px;
        /* grid-row-start: 4; */
        /* grid-row-end: 4; */
        /* grid-column-start: 1; */
        /* grid-column-end: 3; */
        width: 80%;
    }

}



@media only screen and (max-width:640px) {
    .hero-banner-d2-desti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        flex-wrap: wrap;
        /* gap: .2rem; */
    }

    .hero-banner-d1-paras p {
        font-size: .8rem;
        color: gray;
        /* font-weight: 500; */
        /* border: 1px solid yellowgreen; */
    }


    .hero {
        /* border-radius: 50px; */
        max-width: 90%;
        height: 40vh;
        margin: 0 auto;
        /* border: 1px solid red; */
        position: relative;
    }

    .hero-banner-d2-desti-places-search-btn {
        margin-top: 5px;
        /* grid-row-start:4; */
        /* grid-row-end: 4; */
        grid-column-start: 1;
        grid-column-end: 3;

        width: 100%;
    }


    .hero-banner-container {
        position: absolute;
        bottom: -30%;
        left: 10%;
        right: 10%;
        /* margin: 0 auto; */
        padding: 2rem;
        /* width: 90%; */
        /* height: 30vh; */
        background-color: white;
        box-shadow: 2px 2px 1px #f0f0f0;
        border-radius: 20px;
        text-wrap: nowrap;
    }
    .hero-banner-d2-desti-place {
        background: #f0f0f0;
        padding: .5rem 1rem;
        border-radius: 5px;
        margin-top: .7rem;
        color: black;
        display: flex
;
        gap: 4px;
        display: flex
;
        align-items: center;
        font-size: .9rem;
        flex-wrap: nowrap;
        /* font-family: sans-serif; */
    }
}


@media only screen and (max-width:560px) {
    .hero-banner-d2-desti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        flex-wrap: wrap;
        /* gap: .2rem; */
    }


    .hero-banner-d2-desti-places-search-btn {
        margin-top: 5px;
        /* grid-row-start:4; */
        /* grid-row-end: 4; */
        grid-column-start: 1;
        grid-column-end: 3;

        width: 100%;
    }

}






@media only screen and (max-width:560px) {
    .hero-banner-d2-desti-place {
        background: #f0f0f0;
        padding: .5rem 1rem;
        border-radius: 5px;
        margin-top: .7rem;
        color: black;
        display: flex;
        gap: 4px;
        display: flex;
        align-items: center;
        font-size: .6rem;
        flex-wrap: nowrap;
        /* font-family: sans-serif; */
    }

}

@media only screen and (max-width:500px) {
    .hero {
        /* border-radius: 50px; */
        max-width: 90%;
        height: 40vh;
        margin: 0 auto;
        /* border: 1px solid red; */
        position: relative;
    }

    #hero-img-text1 {
        font-family: sans-serif;
        color: white;
        z-index: 999;
        line-height: 4rem;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }


    .hero-banner-container {
        position: absolute;
        bottom: -20%;
        left: 10%;
        right: 10%;
        /* margin: 0 auto; */
        padding: 2rem;
        /* width: 90%; */
        /* height: 30vh; */
        background-color: white;
        box-shadow: 2px 2px 1px #f0f0f0;
        border-radius: 20px;
        text-wrap: nowrap;
    }
}


@media only screen and (max-width:480px) {
    .hero-banner-d1-paras {
        display: flex;
        gap: .5rem;
    }

    .hero-banner-d2-desti-place {
        background: #f0f0f0;
        padding: .3rem .5rem;
        border-radius: 5px;
        margin-top: .7rem;
        color: black;
        display: flex;
        gap: 4px;
        display: flex;
        align-items: center;
        font-size: .6rem;
        flex-wrap: nowrap;
        /* font-family: sans-serif; */
    }

    .hero-banner-d1-paras p {
        font-size: .7rem;
        color: gray;
        /* font-weight: 500; */
        /* border: 1px solid yellowgreen; */
    }


    .hero-banner-d1-last-searching {
        font-size: .7rem;
        color: grey;
        display: flex;
        gap: .3rem;
        align-items: center;
    }


    .hero-banner-container {
        position: absolute;
        bottom: -120px;
        left: 10%;
        right: 10%;
        /* margin: 0 auto; */
        padding: 2rem;
        /* width: 90%; */
        /* height: 30vh; */
        background-color: white;
        box-shadow: 2px 2px 1px #f0f0f0;
        border-radius: 20px;
        text-wrap: nowrap;
    }

}




@media only screen and (max-width:768px) {
    .nav-pages ul {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 1rem;
    }

    .nav-pages ul li {
        font-size: 1rem;
        color: grey;
        font-weight: 500;
    }

}


@media only screen and (max-width:425px) {
    .hero-banner-d2-desti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        flex-wrap: wrap;
        /* gap: .2rem; */
    }
    #hero-img-text1 {
        font-family: sans-serif;
        color: white;
        z-index: 999;
        line-height: 1rem;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }

    #hero-img-text2 {
        color: white;
        z-index: 999;
        font-size: .6rem;
        font-weight: 600;
        /* padding-block: 2rem; */
        text-align: center;
        line-height: 20px;
    }

    
    .hero-banner-d2-desti {
        display: grid
;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: .2rem;
        grid-row-gap: .2rem;
        flex-wrap: wrap;
        /* gap: .2rem; */
    }

    .hero-banner-d2-desti-place {
        background: #f0f0f0;
        padding: .3rem .5rem;
        border-radius: 5px;
        margin-top: .7rem;
        color: black;
        display: flex
;
        gap: 4px;
        display: flex
;
        align-items: center;
        font-size: .5rem;
        flex-wrap: nowrap;
        /* font-family: sans-serif; */
    }

    .hero-banner-d2-desti-places-search-btn {
        margin-top: 5px;
        width: 80%;
    }

    .hero-banner-d2-desti-places1{
    font-size: .6rem;
    }

    .hero-banner-d1-paras p {
        font-size: .5rem;
        color: gray;
        /* font-weight: 500; */
        /* border: 1px solid yellowgreen; */
    }

    .hero-banner-d1-last-searching {
        font-size: .5rem;
        color: grey;
        display: flex
;
        gap: .3rem;
        align-items: center;
    }

    #hero-img-text1 {
        font-family: sans-serif;
        color: white;
        z-index: 999;
        line-height: 1rem;
        font-size: .8rem;
        font-weight: 600;
        text-align: center;
    }
    #hero-img-text2 {
        color: white;
        z-index: 999;
        font-size: .5rem;
        font-weight: 600;
        /* padding-block: 2rem; */
        text-align: center;
        line-height: 20px;
    }
}



@media only screen and (max-width:425px) {

    /* Navbar section */
    .nav-pages {
        display: none;
    }

    .nav-signup {
        display: none;
    }

    .nav-menu {
        display: block;
    }

}


/* popular sectioons */


@media only screen and (max-width:1024px) {

    .popular-d1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red; */
        padding: 0 2rem;
        gap: 8rem;
    }

    .popular-title {
        width: 80%;
        /* font-size: 1.5rem; */
    }


    .popular-title h2 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .popular-title p {
        color: grey;
        padding: 4px 0 0 0;
        font-size: 1rem;
    }

    .popular-desc {
        color: gray;
        padding: 0 0 0 2rem;
        /* margin-right: !important; */
        font-weight: 500;
        font-family: serif;
        /* border: 1px solid; */
    }

    .popular-cards {
        width: 100%;
        /* border: 1px solid violet; */
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        overflow-x: auto;
        padding: 0 2rem;
    }



    .popular-card {
        width: 40vw;
        height: 53vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        flex-shrink: 0;
        /* padding: 0 0; */
    }

    br {
        display: none;
    }

    .popular-img-title h5 {
        font-weight: 600;
        font-size: 1.5rem;
        color: black;
    }

    .popular-img-title p {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: .9rem;
        margin-top: 4px;
        /* padding: 0 0 0 0; */
        color: gray;
    }



}


@media only screen and (max-width:860px) {
    .popular-container {
        width: 100%;
        /* margin: 0 auto; */
        /* border: 1px solid black; */
        margin-top: 8rem;
        padding-top: 4rem;
    }

    .popular-title h2 {
        font-size: 1rem;
        font-weight: 600;
    }
}




@media only screen and (max-width:600px) {
    .popular-d1 {
        display: flex;
        flex-direction: column;
        /* margin: 0 auto; */
        /* justify-content: space-between; */
        align-items: center;
        /* border: 1px solid red; */
        /* padding: 0 2rem; */
        gap: 2rem;
    }

    .popular-title {
        text-align: center;
        /* border: 1px solid; */
        /* width: 50%; */
        /* font-size: 1.5rem; */
    }

    .popular-title h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    .popular-title p {
        color: grey;
        padding: 4px 0 0 0;
        font-size: 1.5rem;
    }

    .popular-desc {
        text-align: center;
        color: gray;
        /* padding: 0 0 0 2rem; */
        font-weight: 500;
        font-family: serif;
        /* border: 1px solid; */
        font-size: 1rem;
    }

    .popular-card {
        width: 80vw;
        height: 53vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        flex-shrink: 0;
        /* padding: 0 0; */
    }

    .popular-img-title {
        justify-content: space-between;
        margin-top: 14px;
        display: flex;
        /* padding-left: 5px; */
    }

    .popular-img-title p {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 1.2rem;
        margin-top: 4px;
        /* padding: 0 0 0 0; */
        color: gray;
    }

}



@media only screen and (max-width:425px) {
    .popular-d1 {
        display: flex
;
        flex-direction: column;
        /* margin: 0 auto; */
        /* justify-content: space-between; */
        align-items: center;
        /* border: 1px solid red; */
        /* padding: 0 2rem; */
        gap: .6rem;
    }

   
    .popular-title p {
        color: grey;
        padding: 4px 0 0 0;
        font-size: .8rem;
    }

    .popular-desc {
        text-align: center;
        color: gray;
        /* padding: 0 0 0 2rem; */
        font-weight: 500;
        font-family: serif;
        /* border: 1px solid; */
        font-size: .7rem;
    }

}
@media only screen and (max-width:1024px) {
    .travel-des-card {
        /* margin-right: 3.5rem; */
        border-radius: 15px;
        width: 40%;
        height: 70vh;
        /* border: 1px solid red; */
    }


}


@media only screen and (max-width:768px) {

    .travel-des {
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
        /* margin: 0; */
        padding: 2rem;
        flex-direction: column-reverse;
    }

    .travel-des-card {
        /* margin-right: 3.5rem; */
        border-radius: 15px;
        width: 100%;
        height: 70vh;
        /* border: 1px solid red; */
    }

    .card-badge {
        width: 30%;
        height: 8vh;

        /* border:1px solid; */
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: white;
        box-shadow: 0 0 7px #f0f0f0;
        position: absolute;
        top: 10%;
        left: -10%;
        /* padding: 4px 1rem; */
    }

    .card-badge img {
        object-fit: cover;
        width: 4vw;
        height: 4vh;
        border-radius: 50px;
    }

    .card-badge-para-name {
        color: black;
        font-size: 1rem;

    }

    .card-badge-para:nth-child(2) {
        color: gray;
        font-size: 1rem;

    }


    .card-badge-para:nth-child(2) p i {
        color: yellow;
        font-size: 1rem;

    }

    .badge2 {
        position: absolute;
        top: 80%;
    }

    .badge3 {
        position: absolute;
        top: 40%;
        left: 80%;
    }


    .travel-des-d1 {
        border-radius: 15px;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* grid-template-rows: repeat(2, 1fr); */
        /* padding: 1rem; */
        /* border: 1px solid; */
    }

    .travel-des-d1 .travel-des-d1-text button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 10%;
        height: 34%;
        /* border: 1px solid red; */
        padding: 1rem 1rem;
        /* border-radius: 10px; */
        border: none;
        font-size: 1.2rem;
        color: white;
        background-color: rgb(24 167 199);
    }

    .travel-des-d1 button {
        background: rgb(24 167 199);
        border-radius: 12px;
        color: white;
        font-size: 1rem;
        width: 10rem;
        padding: .9rem .4rem;
        border: none;
        width: 100%;
    }




}

@media only screen and (max-width:425px) {
  
    .travel-title h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    
    .travel-title p {
        color: gray;
        /* font-weight: 600; */
        font-size: 1rem;
        text-align: center;
        margin-top: 1vh;
    }

    .travel-des-d1 .travel-des-d1-text button {
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        padding: 1rem 1.2rem;
        /* border-radius: 10px; */
        border: none;
        font-size: .8rem;
        color: white;
        background-color: rgb(24 167 199);
    }
    .card-badge {
        width: 40%;
        height: 8vh;
        /* border: 1px solid; */
        border-radius: 15px;
        display: flex
;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: white;
        box-shadow: 0 0 7px #f0f0f0;
        position: absolute;
        top: 10%;
        left: -15%;
        padding:  1rem 2rem;
        padding: 1rem 0;
    }
 
    .card-badge img {
        object-fit: cover;
        width: 5vw;
        height: 4vh;
        border-radius: 50px;
    }

    .card-badge-para-name {
        color: black;
        font-size: .7rem;

    }

    .card-badge-para:nth-child(2) {
        color: gray;
        font-size: .7rem;

    }


    .card-badge-para:nth-child(2) p i {
        color: yellow;
        font-size: .7rem;

    }

    .badge2 {
        position: absolute;
        top: 80%;
    }

    .badge3 {
        position: absolute;
        top: 40%;
        left: 75%;
    }
    .travel-des-d1 button {
        background: rgb(24 167 199);
        border-radius: 12px;
        color: white;
        font-size: 1rem;
        width: 10rem;
        padding: .5rem .2rem;
        border: none;
        width: 100%;
    }
    
}




@media only screen and (max-width:1024px) {
 .footer-main{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
 }   

 .footer-about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: flex-start;
}

#footer-about3{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
    /* align-items: center; */
    /* justify-content: flex-start; */
}
}

@media only screen and (max-width:425px) {
    .footer-main{
        /* border: 1px solid; */
        display: grid;
        gap: 5rem;
        grid-template-columns: repeat(2,1fr);
      }   
    
      .tripco-footer {
        /* border: 1px solid black; */
        display: flex
    ;
        flex-direction: column;
        gap: 2rem;
        padding-left: 3rem;
    }

    #footer-about3{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 0;
        /* align-items: center; */
        /* justify-content: flex-start; */
    }

    .footer-news {
        display: flex
    ;
        flex-direction: column;
        gap: 2rem;
        padding-left: 3rem;
        width: 200%;
       }

       .footer-inp{
        position: relative;
        margin-top: 1vh;
        width: 100%;
        border: 1px solid;
        }
        
        .footer-inp input{
            border: none;
        width: 50%;
        height: 3.5rem;
        padding-left: 1vw;
        color: grey;
        box-shadow: 0 7px 10px #f0f0f0 ;
        position: relative;
        }
        
        .footer-news button{
            border: none;
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            top: 8%;
            right: 5%;;
            border-radius: 4vh;
            background-color: rgb(24 167 199);
        }
            
        .footer-news button i{
            padding: 4px;
          font-size: 1.8rem;
          color: white;
        
        }
        
        
        .tripco-footer .footer-icons {
            /* font-size: 2vw; */
            color: rgb(24 167 199);
            font-size: 1.5rem;
            display: flex;
            gap: 1vw;
            align-items: center;
        }

}




@media only screen and (max-width:10px) {}