* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* -webkit-user-select: none;  */
    /* -ms-user-select: none;  */
    /* user-select: none;  */
      

}

::-webkit-scrollbar {
    display: none;
}

.nav-container,
.hero-container {
    width: 100%;
    background-color: white;
}


.nav {
    margin: 0 auto;
    max-width: 90%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;
}



.nav-logo {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(24 167 199);
}

.nav-pages {
    /* border: 1px solid; */
}

.nav-pages ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4rem;

}

.nav-pages ul li:nth-child(1) {
    font-weight: 600;
    color: black;

}

.nav-pages ul li {
    font-size: 1.1rem;
    color: grey;
    font-weight: 500;

}

.nav-signup {
    display: flex;
    /* gap: 25px; */
    gap: 1.5vw;
    align-items: center;
}

.nav-signup p {
    color: gray;
    font-size: 1rem;
}

.nav-signup button {

    padding: .8rem 1rem;
    background-color: rgb(24 167 199);
    border: none;
    /* outline: none; */
    border-radius: 8px;
    font-size: .8rem;
    color: white;
    font-weight: 500;
}

.nav-menu {
    /* width: 1rem; */
    /* height: 1rem;/ */
    font-size: 1.5rem;
    display: none;
}

/* hero section */

.hero {
    /* border-radius: 50px; */
    max-width: 90%;
    height: 80vh;
    margin: 0 auto;
    /* border: 1px solid red;  */
    /* position: relative; */

}

.hero-img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
    

}


.hero-img img {
    overflow: hidden;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    position: relative;
    inset: 0px;

}


.hero-img-text {
    position: absolute;
    text-wrap: nowrap;
    top: 28%;
    left: 50%;
    /* font-size: 6rem ; */
    text-align: center;
    transform: translate(-50%, -50%);


}

#hero-img-text1 {
    font-family: sans-serif;
    color: white;
    z-index: 999;
    line-height: 4.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}

#hero-img-text2 {
    color: white;
    z-index: 999;
    font-size: 1.4vw;
    font-weight: 600;
    /* padding-block: 2rem; */
    text-align: center;
    line-height: 4.5rem;
    /* padding:; */
    /* margin-top:2.5rem; */
}




.hero-banner-container {
    position: absolute;
    bottom: -70px;
    left: 10%;
    right: 10%;
    /* margin: 0 auto; */
    padding: 2rem;
    /* width: 90%; */
    /* height: 30vh; */
    background-color: white;
    box-shadow: 2px 2px 1px #f0f0f0;
    border-radius: 20px;
    text-wrap:nowrap;
}


.hero-banner {
    margin: 0 auto;
    /* max-width: 90%; */
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
}

.hero-banner-d1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
    padding: 20px 0;
    border-bottom: 1px solid gray;
    position: relative;
}

.hero-banner-d1-paras {
    display: flex;
    gap: 3rem;
}

.hero-banner-d1-paras p {
    font-size: 1rem;
    color: gray;
    font-weight: 500;
    /* border: 1px solid yellowgreen; */
}

#hostelry {
    color: black;
}

#hostelry::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background: black;


}

.hero-banner-d1-last-searching {
    font-size: .9rem;
    color: grey;
    display: flex;
    font-weight: 500;
    gap: .3rem;
    /* grid-area: 4px; */
    align-items: center;
    /* border: 1px solid; */
}

.hero-banner-d2 {
    /* border: 1px solid ;   */
    /* margin-top: 1rem; */
    /* color: gray; */
    /* display: flex; */
    /* gap: 5rem; */
    /* align-items: center; */
    /* justify-content: space-between; */

}

.hero-banner-d2-desti {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    flex-wrap: wrap;
    /* flex-direction:; */
    gap: 1rem;
}

#checkout {
    margin-left: 3rem;
}

/* .hero-banner-d2-desti p{
    font-size: 1.1rem;
    color: gray;
} */


.hero-banner-d2-desti-places {
    /* border: 1px solid salmon; */
    /* flex: 1; */
    /* font-weight: 600; */
    /* display: flex; */


}
.hero-banner-d2-desti-places1{
    color: gray;
}

.hero-banner-d2-desti-place {
    background: #f0f0f0;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin-top: .7rem;
    /* color: gray; */
    display: flex;
    gap: 4px;
    display: flex;
    align-items: center;
    font-size:.9rem;
    flex-wrap: nowrap;
    font-weight: 500;
    /* font-family: sans-serif; */
}

.hero-banner-d2-desti-place i {
    color: rgb(24 167 199);
    font-size: 1.2rem;
}


.hero-banner-d2-desti-places-search-btn {
    /* flex: 1; */
    /* border: 1px solid red; */
    /* padding: .6rem 2.2rem; */
    padding: 10px 40px;
    /* width: 8vw; */
    /* height: 2rem; */
    margin-top: 27px;
    color: white;
    background-color: rgb(24 167 199);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    /* margin-left: 10px; */

}

.hero-banner-d2-desti-places-search-btn i {
    font-size: 1.2rem;
}

/* popular Place */

.popular-container {
    width: 100%;
    /* margin: 0 auto; */
    /* border: 1px solid black; */
    margin-top: 6rem;
    padding-top: 5rem;

}

.popular-main {
    max-width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.popular-d1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    /* padding-left: 12px; */
    /* text-align: left; */
}

.popular-title {
    /* font-size: 1.5rem; */
    /* border: 1px solid ; */
}

.popular-title h2 {
    font-size: 3rem;
    font-weight: 500;
    color: #333333;
}

.popular-title p {
    /* border: 1px solid ; */
    font-size: 1.3rem;
    color: grey;
    padding: .5rem 0 0 0;
}

.popular-desc {
    color: gray;
    /* border: 1px solid ; */
    /* padding: 0 8px 0 0 ; */
    margin-right: 4.5rem;
    font-weight: 500;
    font-size: 1rem;
    /* padding-right:1rem; */
    /* font-family: serif; */
}

.popular-cards {
    width: 100%;
    /* border: 1px solid violet; */
    display: flex;
    gap:3.2rem;
    margin-top: 2rem;
    overflow-x: auto;
    padding-left:.5rem;

}

.popular-card {
    width: 19vw;     
    height: 48vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex-shrink: 0;
    /* padding: 0 0; */
    /* border: 1px solid yellow ; */
}

.popular-card-img {
    width: 100%;  
    height: 36vh; 
    border-radius: 5vh;
    position: relative;
}

.popular-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 4vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#popular-card-img-badge {
    position: absolute;
    top: 8%;
    right: 8%;
    background-color: #f0f0f0;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 6px;
    border-radius: 8px;

}


.popular-img-title {
    margin-top: 10px;
    padding-left: 5px;

}

.popular-img-title h5 {
    font-weight: 600;
    font-size: 1.2rem;
    color: #3D3D3D;
}

.popular-img-title p {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 1rem;
    margin-top: 4px;
    /* padding:0 0 0 0 ; */
    color: gray;

}

.popular-img-title p i {
    font-size: 1rem;
    color: rgb(24 167 199);
}


/* travel container */


.travel-container {
    width: 100%;
    background: white;
    margin-top: 6rem;
    /* border: 1px solid; */

}

.travel-main {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    gap: 2rem;
    padding-top: 1rem;

}
.travel-title {
    
    text-align: center;
}

.travel-title h2 {
    font-size: 2.5rem; 
    text-align: center;
    color: #333333;
}

.travel-title p {
    color: gray;
    /* font-weight: 600; */
    font-size: 1.3rem; /* Min 1rem, Max 1.25rem */
    text-align: center;
    margin-top: 1rem;
}

.travel-des {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0; */
    padding: 1.5rem;
    /* border: 1px solid; */

}

.travel-des-d1 {
    border-radius: 15px;
    /* max-width: 510px; */
    width: 40%;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    /* padding-right: 6rem; */
    /* border: 1px solid; */
}

.travel-des-d1-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    padding: 0 0 0 0;
/* border: 1px solid; */
}

.travel-des-d1-text p {
   font-size: 1.1rem;
/* border: 1px solid; */
}
#travel-btn2{
    background:#7D96E3;
}
#travel-btn3{
    background:#4FB379;
}


.travel-des-d1 .travel-des-d1-text button {
    width: 50px;
    height: 40px;
    /* border: 1px solid red; */
    padding: .4rem .3rem;
    /* border-radius: 10px; */
    /* border: none; */
    font-size: 1.1rem;
    color: white;
    background-color: rgb(24 167 199);
}

.travel-des-d1-text h3 {
    font-size:1.4rem; 
    /* border: 1px solid; */
    color: #333333;
    margin-top: 1vh;
    padding-top: .2rem;
}

.travel-des-d1-text p {
    color: grey;
    /* margin-top: 1vh; */
    padding-top: 1vh;
    /* border: 1px solid; */
}

.travel-des-d1 button {
    background: rgb(24 167 199);
    border-radius: 12px;
    color: white;
    font-size: 1rem;    
    width: 10rem;
    /* height:5rem ; */
    padding: .9rem .4rem;
    border: none;
    /* margin: 0 0 0 6px; */
    /* border: 1px solid red; */
}


.travel-des-card {
    margin-right:5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    width:34%;
    height:95vh;
    /* padding-right: 3rem; */
    /* border: 5px solid red; */

}

.travel-des-card-img {
    width:100%;
    height: 100%;
    border-radius: 40px;
    position: relative;
}

.travel-des-card-img img {
    object-fit: cover;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: initial; */
    border-radius: 40px;
    width: 100%;
    height: 100%;
}

.card-badge {
    width: 40%;
    height: 10%;

    /* border:1px solid; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
    box-shadow: 0 0 10px #f0f0f0;
    position: absolute;
    top: 10%;
    left: -20%;
    padding: 4px 4px;
}

.card-badge img {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    width:  24%;
    height: 70%;
    border-radius: 50px;
}

.card-badge-para-name {
    color: black;
    font-size: .9rem;

}

.card-badge-para:nth-child(2) {
    color: gray;
    font-size: .9rem;

}


.card-badge-para:nth-child(2) p i {
    color: yellow;
    font-size: 1rem;

}

.badge2 {
    position: absolute;
    top: 80%;
}

.badge3 {
    position: absolute;
    top: 40%;
    left: 78%;
}



/* Explore more sections */

.explore-container {
    width: 100%;
    /* margin: 0 auto; */
    /* border: 1px solid black; */
    margin-top: 4rem;

}

.explore-main {
    padding-top: 2rem;
    max-width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.explore-d1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 12px; */
    /* border: 1px solid ; */
}

.explore-title {
    /* font-size: 1.5rem; */
    /* border: 1px solid black; */
display: flex;
flex-direction: column;
justify-content: flex-start;
/* align-items: center; */
}

.explore-title h2 {
    font-size: 3rem;
    font-weight: 500;
    color: #333333;

}

.explore-title p {
    font-size: 1.5rem;
    color: grey;
    font-weight: 500;
    padding: 8px 0 0 0;
}

.explore-desc {
    color: gray;
    /* padding: 0 8px 0 0 ; */
    margin-right: 4.5rem ;
    font-weight: 500;
    font-family: serif;
    /* border: 1px solid ; */
    font-size: 1rem;
}

.explore-btns{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    padding-left: .8vw;
    margin-top: 1.5rem;
}

.explore-btn{
    display: flex;
    gap: 1.5vw;

}


.explore-btn .explore-btn2   {
    background:#f0f0f0;
    color: black;
    border: none;
    padding:.4vh 1.3vw ;
    border: none;
    border-radius: .5vw;
    font-size: .9rem;
    
}


#explore-btn1{
    background: #343434;
    color:#f0f0f0;
    border: none;
    padding:.8rem .9rem;
    border: none;
    border-radius: .5vw;
    font-size: .9rem;
}

.explore-btns button{
    background:#f0f0f0;
    color: black;
    border: none;
    padding:.4vh 2vw ;
    border: none;
    border-radius: .5vw;
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: .5vw;
}
.explore-btns button i{
    font-size: 1vw;
    
    font-weight: 600;
}


.explore-cards {
    width: 100%;
    /* border: 1px solid violet; */
    display: flex;
    /* gap: 2.5rem; */
    margin-top: 2rem;
    overflow: hidden;
    /* padding: 0 .7rem; */
 
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 5rem;
grid-row-gap: 2.5rem;

}

.explore-card {
    /* border: 1px solid; */
    width: 100%;     
    /* height: ; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-shrink: 0;
    /* padding: 0 0; */
    margin: 1vh 0;
}

.explore-card-img {
    width: 100%;  
    height: 38vh; 
    border-radius: 5vh;
    position: relative;
}

.explore-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 4vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#explore-card-img-badge {
    position: absolute;
    top: 8%;
    right: 8%;
    background-color: #f0f0f0;
    font-weight: 600;
    font-size: 1vw;
    padding: 4px 6px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;

}

#explore-card-img-badge i {
    color:yellow;
    font-size:1.1vw;
    /* background-color: yellow; */

}

.explore-img-title {
    /* margin-top: 2.5vw; */
    padding-left: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.explore-img-title-1{
display: flex;
flex-direction: column;
gap: 0;

/* border: 1px  solid; */
}

.explore-img-title-1 h5 {
    font-weight: 500;
    font-size: 1.3rem;
    color: #333333;
    
}

.explore-img-title-1 p {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 4px;
    /* padding:0 0 0 0 ; */
    color: gray;

}

.explore-img-title p i {
    font-size: 1.5vw;
    color: rgb(24 167 199);
}

#explore-price{
    font-size: 1.5vw;
    font-weight: 500;
    color: #333333;

}

.explore-main #show-more {
    margin: 0 auto;
    margin-top: 5vh;
    /* text-align: center; */
    width: 150px;
    height:50px;
    border: 1px solid gray;
    /* padding: 2.5vh 0; */
    border-radius: .8rem;
    font-size: 1rem;
    font-weight: 600;
    background-color:white;
    color: #333333;

}
/* adventure section */
.adv-container{
    width: 100%;
    margin-top: 1.5rem;
}

.adv{
    padding-top: 7vw;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    align-items: center;
    
}
.adv-title{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
.adv-title h2{
    font-size: 2.5rem;
    color: #333333;

    /* font-weight: 600; */
}
.adv-title p{
    font-size: 1.3rem;
    text-align: center;
    color: gray;
}


.adv-cards {
    width: 100%;
    /* border: 1px solid violet; */
    display: flex;
    gap:5rem;
    margin-top: 4rem;
    /* overflow-x: auto; */
    /* padding: 0 1rem; */
    


}

.adv-card {
    width: 18vw;     
    height: 48vh;
    /* display: flex; */
    /* flex-direction: column; */
    gap: 3rem;
    flex-shrink: 0;
    position: relative;
    padding:2vh 1.2vh 0 1.7vw ;
    /* border: 4px  dashed black; */
    outline: dashed 5px black;
    /* box-shadow: 0 0 4px black ; */
}

.adv-card-img {
    width: 92%;  
    height: 36vh; 
    border-radius: 2vh;

}

.adv-card-img img {
    width: 100%;
    height: 100%;
    /* border-radius: 2vh; */
    object-fit: cover;
    background-repeat: no-repeat;
    /* background-position: ; */
}

#adv-badge {
    width:5vw;
    height:10vh;
    position: absolute;
    top: -10%;
    left: -8%;
    border-radius: 50%;
/* border: 5px solid red; */
}

#adv-badge img{
    width:5vw;
    height:10vh;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
 
}

.adv-card p{
    padding:1.2rem 0 ;
    text-align: center;
    margin: 0 auto;
    color: gray;
    letter-spacing: .2rem;
    /* border: 1px solid; */
    font-size: 1.3rem;
    font-weight: 600;


}


/* .adv-icons{
    padding-top: 3rem;
    display: flex;
    gap: 1.5vw;
    align-items: center;
}
.adv-icons i{
font-size: 1.5rem;
color: grey;
}

#cir-arrow {
font-size: 2.5rem;
color: gray;
}


 */


/* book ticket section */

.ticket-container{
    width: 100%;
    margin-top: 1rem;

}
.ticket{
    padding-top: 8vw;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    /* padding-bottom: 2vh; */
}
.ticket-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-title h2{
    font-size: 2rem;
    /* font-weight:; */

}

.ticket-title button{
    padding: 1.8vh 2.5vw;
    background-color: rgb(24 167 199);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    border-radius: .5vw;

}

.ticket .ticket-video{
    /* border: 1px solid; */
    margin-top: 2vh;
    width:    100%;
    height:   85vh;
    /* overflow: hidden; */
    border-radius: 2vw;
    /* border-bottom: 2px solid gray; */
    /* object-fit: contain; */
    object-fit: cover;
    

}

/* footer */
footer{
    width: 100%;
    /* border:1px solid black; */
    margin-top: 9vh;
}

.footer-main{
    /* margin-top: 5vh; */
    padding: 9vh 0;
    border-top: 2px solid grey;
    max-width: 90vw;
    margin: 0  auto;
    display: flex;
    justify-content: space-between;

}
.tripco-footer{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.tripco-footer h2{
    font-size: 1.5rem;
    color: rgb(24 167 199);
}

.tripco-footer P{
    font-size: 1rem;
    color:black;
}

.tripco-footer .footer-icons{
    /* font-size: 2vw; */
    color:rgb(24 167 199);
    font-size: 1.8vw;
    display: flex;
    gap: 1vw;
    align-items: center;
}


.footer-about{
    display: flex;
    flex-direction: column;
   gap: 2rem; 
   justify-content: flex-start;
   /* align-items: center; */
   /* justify-content: center; */
}


#footer-about3{
    display: flex;
    flex-direction: column;
   gap: 2rem; 
   /* align-items:; */
  

}
#footer-about3 h2 {
    display: flex;
    flex-direction: column;
   gap: 2rem; 
   /* align-items:; */
  font-size: 1rem;

}


#footer-about-para1{
    display: flex;
    flex-direction: column;
    
    gap: 3vh;
    color: grey;
    /* align-items: center;    */
}

.footer-about h2{
font-size: 1rem;
}

.footer-about-paras{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    color: grey;
    justify-content: flex-start;
    /* align-items: center; */
}

.footer-news{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
   gap: 2rem;     
   /* width: 200%; */
   /* margin: 0; */
}
.footer-news h2 {
font-size: 1rem;
}
.footer-news p{
font-size: 1rem;
color: gray;
}
.footer-inp{
position: relative;
margin-top: 1vh;
}

.footer-inp input{
    border: none;
width: 100%;
height: 3.5rem;
padding-left: 1vw;
color: grey;
box-shadow: 0 0 10px 1px rgba(87,87, 87,0.189);
}

.footer-news button{
    border: none;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 12%;
    right: 5%;;
    border-radius: 4vh;
    background-color: rgb(24 167 199);
}
    
.footer-news button i{
    padding: .1rem;
  font-size: 1.8rem;
  color: white;

}













